h1 {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    width: 350px;
    position: absolute;
    top: 15vh;
    font-family: "SF UI Display";
    line-height: .9;
}
input {
    background-color: #F5F5F5;
    border: 0;
    border-radius: 12px;
    color: #000;
    height: 42px;
    margin: 5px 0;
    padding: 7px 16px;
    width: 100%;
    max-width: -moz-available;
}

input::placeholder {
    color: #000;
    opacity: .3;
    font-weight: 600;    
}
.error-sercion {
    height: 25px;
}
.proceed  {
    background-color: #B5FF23;
    border: 0;
    border-radius: 34px;
    color: #fff;
    width: 100%;
    margin-top: 18px;
    padding: 5px 16px;
    font-size: 16px;
    font-weight: 600;
    height: 46px;
}
.form-div {
    background-color:#fff;
    border-radius: 30px;
    padding: 13px 18px;
    min-width: 350px;
} 
.error-section {
    color: #FF0808;
}