@font-face {
    font-family: "SF UI Display";
    src: url(../../assets/fonts/sf-ui-display-bold.otf);
}

.home {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/img1.png);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;    
}
